<a href="https://colab.research.google.com/github/Manasa389/Technocolabs_Main_Project/blob/main/accepted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [ ]:
pip install -q keras

In [ ]:
import keras

In [ ]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
# plotting
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
accepted_path="/content/drive/MyDrive/accepted_2007_to_2018Q4.csv.gz"

In [ ]:
accepted_data=pd.read_csv(accepted_path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
accepted_data.head()

         id  member_id  ...  settlement_percentage  settlement_term
0  68407277        NaN  ...                    NaN              NaN
1  68355089        NaN  ...                    NaN              NaN
2  68341763        NaN  ...                    NaN              NaN
3  66310712        NaN  ...                    NaN              NaN
4  68476807        NaN  ...                    NaN              NaN

[5 rows x 151 columns]

In [ ]:
accepted_data.tail()

                                                       id  ...  settlement_term
2260696                                          88985880  ...              NaN
2260697                                          88224441  ...              1.0
2260698                                          88215728  ...              NaN
2260699  Total amount funded in policy code 1: 1465324575  ...              NaN
2260700   Total amount funded in policy code 2: 521953170  ...              NaN

[5 rows x 151 columns]

In [ ]:
accepted_data.shape

(2260701, 151)

In [ ]:
print(list(accepted_data.columns))

['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'fico_range_low', 'fico_range_high', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'last_fico_range_high', 'last_fico_range_low', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'revol_bal_joint', 'sec_app_fico_range_low', 'sec_app_fico_range_high', 'sec_app_earliest_cr_line', 'sec_app_inq_last_6mths', 'sec_app_mort_acc', 'sec_app_open_acc', 'sec_app_revol_util', 'sec_app_open_act_il', 'sec_app_num_rev_accts', 'sec_app_chargeoff_within_12_mths', 'sec_app_collections_12_mths_ex_med', 'sec_app_mths_since_last_major_derog', 'hardship_flag', 'hardship_type', 'hardship_reason', 'hardship_status', 'deferral_term', 'hardship_amount', 'hardship_start_date', 'hardship_end_date', 'payment_plan_start_date', 'hardship_length', 'hardship_dpd', 'hardship_loan_status', 'orig_projected_additional_accrued_interest', 'hardship_payoff_balance_amount', 'hardship_last_payment_amount', 'disbursement_method', 'debt_settlement_flag', 'debt_settlement_flag_date', 'settlement_status', 'settlement_date', 'settlement_amount', 'settlement_percentage', 'settlement_term']

In [ ]:
accepted_data.loan_status.value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [ ]:
accepted_data=accepted_data.loc[(accepted_data['loan_status'].isin(['Fully Paid','Charged Off']))]

In [ ]:
accepted_data.shape

(1345310, 151)

In [ ]:
accepted_data.describe()

          loan_amnt   funded_amnt  ...  total_bc_limit  total_il_high_credit_limit
count  1.345310e+06  1.345310e+06  ...    1.298029e+06                1.277783e+06
mean   1.441997e+04  1.441156e+04  ...    2.163400e+04                4.213319e+04
std    8.717051e+03  8.713118e+03  ...    2.155478e+04                4.325213e+04
min    5.000000e+02  5.000000e+02  ...    0.000000e+00                0.000000e+00
25%    8.000000e+03  8.000000e+03  ...    7.800000e+03                1.473800e+04
50%    1.200000e+04  1.200000e+04  ...    1.510000e+04                3.168100e+04
75%    2.000000e+04  2.000000e+04  ...    2.810000e+04                5.663500e+04
max    4.000000e+04  4.000000e+04  ...    1.105500e+06                2.101913e+06

[8 rows x 69 columns]

In [ ]:
accepted_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345310 entries, 0 to 2260697
Data columns (total 93 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   id                          1345310 non-null  object
 1   loan_amnt                   1345310 non-null  float64
 2   funded_amnt                 1345310 non-null  float64
 3   funded_amnt_inv             1345310 non-null  float64
 4   term                        1345310 non-null  object
 5   int_rate                    1345310 non-null  float64
 6   installment                 1345310 non-null  float64
 7   grade                       1345310 non-null  object
 8   sub_grade                   1345310 non-null  object
 9   emp_title                   1259525 non-null  object
 10  emp_length                  1266799 non-null  object
 11  home_ownership              1345310 non-null  object
 12  annual_inc                  1345310 non-null  float64
 13  verification_status         1345310 non-null  object
 14  issue_d                     1345310 non-null  object
 15  loan_status                 1345310 non-null  object
 16  pymnt_plan                  1345310 non-null  object
 17  url                         1345310 non-null  object
 18  purpose                     1345310 non-null  object
 19  title                       1328651 non-null  object
 20  zip_code                    1345309 non-null  object
 21  addr_state                  1345310 non-null  object
 22  dti                         1344936 non-null  float64
 23  delinq_2yrs                 1345310 non-null  float64
 24  earliest_cr_line            1345310 non-null  object
 25  fico_range_low              1345310 non-null  float64
 26  fico_range_high             1345310 non-null  float64
 27  inq_last_6mths              1345309 non-null  float64
 28  open_acc                    1345310 non-null  float64
 29  pub_rec                     1345310 non-null  float64
 30  revol_bal                   1345310 non-null  float64
 31  revol_util                  1344453 non-null  float64
 32  total_acc                   1345310 non-null  float64
 33  initial_list_status         1345310 non-null  object
 34  out_prncp                   1345310 non-null  float64
 35  out_prncp_inv               1345310 non-null  float64
 36  total_pymnt                 1345310 non-null  float64
 37  total_pymnt_inv             1345310 non-null  float64
 38  total_rec_prncp             1345310 non-null  float64
 39  total_rec_int               1345310 non-null  float64
 40  total_rec_late_fee          1345310 non-null  float64
 41  recoveries                  1345310 non-null  float64
 42  collection_recovery_fee     1345310 non-null  float64
 43  last_pymnt_d                1342997 non-null  object
 44  last_pymnt_amnt             1345310 non-null  float64
 45  last_credit_pull_d          1345255 non-null  object
 46  last_fico_range_high        1345310 non-null  float64
 47  last_fico_range_low         1345310 non-null  float64
 48  collections_12_mths_ex_med  1345254 non-null  float64
 49  policy_code                 1345310 non-null  float64
 50  application_type            1345310 non-null  object
 51  acc_now_delinq              1345310 non-null  float64
 52  tot_coll_amt                1277783 non-null  float64
 53  tot_cur_bal                 1277783 non-null  float64
 54  total_rev_hi_lim            1277783 non-null  float64
 55  acc_open_past_24mths        1298029 non-null  float64
 56  avg_cur_bal                 1277761 non-null  float64
 57  bc_open_to_buy              1284167 non-null  float64
 58  bc_util                     1283398 non-null  float64
 59  chargeoff_within_12_mths    1345254 non-null  float64
 60  delinq_amnt                 1345310 non-null  float64
 61  mo_sin_old_il_acct          1239735 non-null  float64
 62  mo_sin_old_rev_tl_op        1277782 non-null  float64
 63  mo_sin_rcnt_rev_tl_op       1277782 non-null  float64
 64  mo_sin_rcnt_tl              1277783 non-null  float64
 65  mort_acc                    1298029 non-null  float64
 66  mths_since_recent_bc        1285089 non-null  float64
 67  mths_since_recent_inq       1171239 non-null  float64
 68  num_accts_ever_120_pd       1277783 non-null  float64
 69  num_actv_bc_tl              1277783 non-null  float64
 70  num_actv_rev_tl             1277783 non-null  float64
 71  num_bc_sats                 1289469 non-null  float64
 72  num_bc_tl                   1277783 non-null  float64
 73  num_il_tl                   1277783 non-null  float64
 74  num_op_rev_tl               1277783 non-null  float64
 75  num_rev_accts               1277782 non-null  float64
 76  num_rev_tl_bal_gt_0         1277783 non-null  float64
 77  num_sats                    1289469 non-null  float64
 78  num_tl_120dpd_2m            1227909 non-null  float64
 79  num_tl_30dpd                1277783 non-null  float64
 80  num_tl_90g_dpd_24m          1277783 non-null  float64
 81  num_tl_op_past_12m          1277783 non-null  float64
 82  pct_tl_nvr_dlq              1277629 non-null  float64
 83  percent_bc_gt_75            1283755 non-null  float64
 84  pub_rec_bankruptcies        1344613 non-null  float64
 85  tax_liens                   1345271 non-null  float64
 86  tot_hi_cred_lim             1277783 non-null  float64
 87  total_bal_ex_mort           1298029 non-null  float64
 88  total_bc_limit              1298029 non-null  float64
 89  total_il_high_credit_limit  1277783 non-null  float64
 90  hardship_flag               1345310 non-null  object
 91  disbursement_method         1345310 non-null  object
 92  debt_settlement_flag        1345310 non-null  object
dtypes: float64(69), object(24)
memory usage: 964.8+ MB

In [ ]:
accepted_data.nunique()

id                            1345310
loan_amnt                        1556
funded_amnt                      1556
funded_amnt_inv                  9016
term                                2
                               ...
total_bc_limit                  17086
total_il_high_credit_limit     162548
hardship_flag                       1
disbursement_method                 2
debt_settlement_flag                2
Length: 93, dtype: int64

In [ ]:
accepted_data.isnull().sum()

id                                0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
                              ...
total_bc_limit                47281
total_il_high_credit_limit    67527
hardship_flag                     0
disbursement_method               0
debt_settlement_flag              0
Length: 93, dtype: int64

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).