<a href="https://colab.research.google.com/github/Manasa389/Technocolabs_Main_Project/blob/main/updated__accepted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
pip install -q keras

In [3]:
import keras

In [4]:

import pandas as pd
import numpy as np
import statsmodels.api as sm
from patsy import dmatrices
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn import metrics
# plotting
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [5]:
accepted_path="/content/drive/MyDrive/accepted_2007_to_2018Q4.csv.gz"

In [6]:
accepted_data=pd.read_csv(accepted_path)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
accepted_data.head()

         id  member_id  ...  settlement_percentage  settlement_term
0  68407277        NaN  ...                    NaN              NaN
1  68355089        NaN  ...                    NaN              NaN
2  68341763        NaN  ...                    NaN              NaN
3  66310712        NaN  ...                    NaN              NaN
4  68476807        NaN  ...                    NaN              NaN

[5 rows x 151 columns]

In [8]:
accepted_data.tail()

                                                       id  ...  settlement_term
2260696                                          88985880  ...              NaN
2260697                                          88224441  ...              1.0
2260698                                          88215728  ...              NaN
2260699  Total amount funded in policy code 1: 1465324575  ...              NaN
2260700   Total amount funded in policy code 2: 521953170  ...              NaN

[5 rows x 151 columns]

In [9]:
accepted_data.shape

(2260701, 151)

In [10]:
accepted_data["loan_status"].value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [11]:
accepted_data.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'hardship_payoff_balance_amount', 'hardship_last_payment_amount',
       'disbursement_method', 'debt_settlement_flag',
       'debt_settlement_flag_date', 'settlement_status', 'settlement_date',
       'settlement_amount', 'settlement_percentage', 'settlement_term'],
      dtype='object', length=151)

In [12]:
accepted_data.loan_status.value_counts()

Fully Paid                                             1076751
Current                                                 878317
Charged Off                                             268559
Late (31-120 days)                                       21467
In Grace Period                                           8436
Late (16-30 days)                                         4349
Does not meet the credit policy. Status:Fully Paid        1988
Does not meet the credit policy. Status:Charged Off        761
Default                                                     40
Name: loan_status, dtype: int64

In [13]:

accepted_data=accepted_data.loc[(accepted_data['loan_status'].isin(['Fully Paid','Charged Off']))]

In [47]:
accepted_data['loan_status'].unique()

array(['Fully Paid', 'Charged Off'], dtype=object)

In [14]:
accepted_data.shape

(1345310, 151)

In [15]:
accepted_data.describe()

       member_id     loan_amnt  ...  settlement_percentage  settlement_term
count        0.0  1.345310e+06  ...           33276.000000     33276.000000
mean         NaN  1.441997e+04  ...              47.691708        13.158132
std          NaN  8.717051e+03  ...               7.306107         8.235592
min          NaN  5.000000e+02  ...               0.200000         0.000000
25%          NaN  8.000000e+03  ...              45.000000         6.000000
50%          NaN  1.200000e+04  ...              45.000000        14.000000
75%          NaN  2.000000e+04  ...              50.000000        18.000000
max          NaN  4.000000e+04  ...             521.350000       181.000000

[8 rows x 113 columns]

In [16]:
accepted_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1345310 entries, 0 to 2260697
Columns: 151 entries, id to settlement_term
dtypes: float64(113), object(38)
memory usage: 1.5+ GB

In [17]:
accepted_data.nunique()

id                       1345310
member_id                      0
loan_amnt                   1556
funded_amnt                 1556
funded_amnt_inv             9016
                          ...
settlement_status              3
settlement_date               89
settlement_amount          21760
settlement_percentage       2059
settlement_term               40
Length: 151, dtype: int64

In [18]:
accepted_data.isnull().sum()

id                             0
member_id                1345310
loan_amnt                      0
funded_amnt                    0
funded_amnt_inv                0
                          ...
settlement_status        1312034
settlement_date          1312034
settlement_amount        1312034
settlement_percentage    1312034
settlement_term          1312034
Length: 151, dtype: int64

In [19]:
accepted_data['grade'].unique()

array(['C', 'B', 'F', 'A', 'E', 'D', 'G'], dtype=object)

In [21]:
accepted_data["grade"].value_counts()

B    392741
C    381686
A    235090
D    200953
E     93650
F     32058
G      9132
Name: grade, dtype: int64

In [20]:
accepted_data['sub_grade'].unique()

array(['C4', 'C1', 'B4', 'F1', 'C3', 'B2', 'B1', 'A2', 'B5', 'C2', 'E2',
       'A4', 'E3', 'C5', 'A1', 'D4', 'F3', 'D1', 'B3', 'D3', 'D5', 'A5',
       'F2', 'E4', 'D2', 'E1', 'F5', 'E5', 'A3', 'G2', 'G1', 'G3', 'G4',
       'F4', 'G5'], dtype=object)

In [30]:
nulls = pd.DataFrame(round(accepted_data.isnull().sum()/len(accepted_data.index)*100,2),columns=['null_percent'])
#sns.barplot(x='index',y='null_percent',data=nulls.reset_index())
nulls[nulls['null_percent']!=0.00].sort_values('null_percent',ascending=False)

                                            null_percent
member_id                                         100.00
next_pymnt_d                                      100.00
orig_projected_additional_accrued_interest         99.72
hardship_dpd                                       99.57
hardship_type                                      99.57
...                                                  ...
title                                               1.24
last_pymnt_d                                        0.17
revol_util                                          0.06
pub_rec_bankruptcies                                0.05
dti                                                 0.03

[99 rows x 1 columns]

In [ ]:
accepted_data = accepted_data.drop(['url', 'desc', 'policy_code', 'last_pymnt_d', 'next_pymnt_d', 'earliest_cr_line', 'emp_title'], axis=1)
accepted_data = accepted_data.drop([ 'id''title', 'total_rec_int', 'total_rec_late_fee', 'total_rec_prncp', 'zip_code'], axis=1)

In [36]:

accepted_data['grade'].isnull()

0          False
1          False
2          False
4          False
5          False
           ...
2260688    False
2260690    False
2260691    False
2260692    False
2260697    False
Name: grade, Length: 1345310, dtype: bool

In [44]:
accepted_data.shape

(1345310, 47)

In [56]:
missing = round(100*(accepted_data.isnull().sum()/len(accepted_data.loan_amnt)), 2)
missing.loc[missing > 0]

dti                     0.03
revol_util              0.06
pub_rec_bankruptcies    0.05
dtype: float64

In [59]:
clean_loan = accepted_data[:]

In [60]:

clean_loan.nunique().sort_values()

hardship_flag                       1
out_prncp_inv                       1
out_prncp                           1
pymnt_plan                          1
debt_settlement_flag                2
application_type                    2
term                                2
initial_list_status                 2
disbursement_method                 2
loan_status                         2
verification_status                 3
home_ownership                      6
grade                               7
acc_now_delinq                      8
inq_last_6mths                      9
chargeoff_within_12_mths           11
pub_rec_bankruptcies               12
purpose                            14
collections_12_mths_ex_med         15
delinq_2yrs                        31
sub_grade                          35
tax_liens                          36
pub_rec                            37
fico_range_low                     40
fico_range_high                    40
addr_state                         51
last_fico_range_low                71
last_fico_range_high               72
open_acc                           84
issue_d                           139
last_credit_pull_d                140
total_acc                         142
int_rate                          654
revol_util                       1373
loan_amnt                        1556
funded_amnt                      1556
delinq_amnt                      2005
dti                              7067
funded_amnt_inv                  9016
annual_inc                      64362
installment                     83307
revol_bal                       83810
recoveries                     132470
collection_recovery_fee        146053
last_pymnt_amnt                693278
total_pymnt_inv               1012584
total_pymnt                   1261705
dtype: int64